@import "../variables.scss";

.cart {
  .column {
    flex: 1 1 25%;
    text-align: center;
  }
  .content {
    flex: 1 1 40%;
  }
  &-thead {
    display: flex;
    align-items: center;
    padding: 25px 80px;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &__product {
      text-align: start;
    }
  }
  &-products {
    margin: 40px 80px ;
  }

  &-product {
    display: flex;
    align-items: center;
    padding: 15px;
    position: relative;
    &__content {
      display: flex;
      align-items: center;
    }
    &__img {
      flex: 0 0 110px;
      img {
        max-width: 100%;
      }
    }
    &__body {
      flex: 1 1 auto;
      padding: 0 0 0 45px;
    }
    &__title {
      display: inline-block;
      margin: 0 0 10px 0;
    }
    &__remove-btn {
      position: absolute;
      left: -2%;
      bottom: 45%;
    }
  }

  @media (max-width: $sm) {
    flex-wrap: wrap;
    &__remove-btn {
      left: 85%;
      bottom: 90%;
    }
    &__title {
      align-self: flex-start;
    }
    &__price {
      position: absolute;
      left: 34%;
      top: 80%;
    }
    &__total-price {
      display: none;
    }
    &__quantity {
      align-self: flex-end;
    }
  }

  &-check {
    display: flex;
    justify-content: space-between;
    margin: 60px 100px;
    @media (max-width: $sm) {
      flex-direction: column;
      margin: 30px 30px;
      gap: 30px;
    }
  }
  .total {
    min-width: 370px;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__line {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: $sm) {
  .voucher-input {
    display: flex;
    flex-wrap: nowrap;
    max-width: 250px;
  }
}
