.search {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-input[type="text"] {
    position: relative;
    padding: 15px 40px 15px 20px;
    width: 300px;
    color: #525252;
    letter-spacing: 1px;
    border: 1px solid #e7e7e7 ;
    border-radius: 5px;
    background: linear-gradient(to right, #ffffff 0%, #464747 #f9f9f9 100%);
    transition: width 0.4s ease;
    outline: none;

    &:focus {
      width: 300px;
    }
  }

  &-icon {
    width: 20px;
    height: 20px;
    position: relative;
    left: -37px;
  }
}
