@import "../../variables.scss";

.cart-product {
  display: flex;
  align-items: center;
  padding: 15px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (max-width: $md) {
    gap: 29px;
    margin: 30px 0;
  }

  @media (max-width: 570px) {
    flex-wrap: wrap;
  }

  @media (max-width: $sm) {
    flex-direction: column;
    gap: 10px;
  }

  &__content {
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      flex: 1 1 100%;
    }

    @media (max-width: $sm) {
      align-items: flex-start;
    }
  }

  &__img {
    flex: 0 0 110px;
    img {
      max-width: 100%;
    }
  }

  &__title {
    display: inline-block;
    flex: 1 1 auto;
    padding: 0 0 0 45px;
    font-size: large;

    @media (max-width: $sm) {
      padding: 0;
      text-align: end;
    }
  }

  &__price {
    @media (max-width: $sm) {
      align-self: flex-end;
      margin-top: -85px;
    }
  }

  &__unit-price {
    @media (max-width: $md) {
      display: none;
    }
  }

  &__price,
  &__unit-price {
    font-size: x-large;
    font-weight: 500;
  }

  &__remove-btn {
    position: absolute;
    right: 2%;
    top: 42%;

    @media (max-width: $md) {
      left: 94%;
      top: -7%;
    }

    @media (max-width: $sm) {
      left: 2%;
      top: -7%;
    }
  }

  &__quantity {
    @media (max-width: $sm) {
      align-self: flex-end;
      flex: 1 1 25%;
      margin-top: 20px;
    }
  }
}
